{% with request.resolver_match.view_name as view_name %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Navigation -->
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}" style="text-transform: uppercase; font-size: 1.6em; "><span style="color:red; font-weight: bold;">Ya</span>tube</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item"> 
          <a class="nav-link" href="{% url 'posts:post_create' %}">Новая запись</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'users:password_reset_form' %}">Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'posts:profile' user %}">|  Пользователь: <span style="font-weight: bold;">{{ user }}</span></a>
        </li>
         {% else %}
         <li class="nav-item"> 
          <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{%endwith%}