{% extends "base.html" %}
{% load user_filters %}

{% block title %}
  {% if is_edit %} Добавление поста
  {% else %} Новый пост
  {% endif %}
{% endblock %}

{% block content %}
            <div class="card" style="width: 70vh; margin-left: 35vh;">
              <div class="card-header" style="margin-left: 0; margin-top: 0%; background-color: #70cee6;">       
                <h5>{% if is_edit %} Редактирование поста
                {% else %} Новый пост
                {% endif %}  
                </h5>
              </div>
              <div class="card-body">
              {% include 'includes/formerrors.html'%}
              {% include 'includes/formfields.html'%}
                        </div> <!-- card body -->
                      </div> <!-- card -->
                {% endblock %}