{% extends "base.html" %}

{% block title %}
  {% if is_edit %} Добавление поста
  {% else %} Новый пост
  {% endif %}
{% endblock %}

{% block content %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %} Редактирование поста
                {% else %} Новый пост
                {% endif %}             
              </div>
              <div class="card-body">        
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if is_edit %} <input type="submit" value="Сохранить">
                  {% else %} <input type="submit" value="Добавить">
                  {% endif %}
                </form>
{% endblock %}