{% extends "base.html" %}
{% load cache %}
{% load thumbnail %}

{% block title %} Лента подписок {% endblock %}

{% block content %}
        <h1> Лента подписок </h1>
        {% include 'includes/switcher.html' %}
        {% if page_obj|length > 0 %}
        {% for post in page_obj %}
          {% include 'includes/postcard.html'%}
        {% endfor %}
        {% include 'includes/paginator.html' %}
        {%else%}
        Пока что вы ни на кого не подписались:(
        {% endif %}
{% endblock %}