{% extends "base.html" %}
{% load thumbnail %}

{% block title %} Профайл пользователя {{ author }} {% endblock %}

{% block content %}

            <h1>Все посты пользователя {{ author }} </h1>
            <div>
            <h5 class="profile" style="margin-top: 1%;"> Всего постов: {{ page_obj.paginator.count }} </h5>
        {% if following %}
        <a class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' username %}" role="button"
          >
          Отписаться
        </a>
        {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' username %}" role="button"
          >
          Подписаться
        </a>
        {% endif %}
      </div>
        {% for post in page_obj %}
        {% include 'includes/postcard.html'%}
        {% endfor %}
        {% include 'includes/paginator.html' %}
{% endblock %}