{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
{% load user_filters %}
      <div class="card" style="width: 60vh; margin-left: 40vh;">
        <div class="card-header">
          Войти на сайт
        </div>
        <div class="card-body">
         {% include 'includes/formerrors.html'%}
         {%include 'includes/formfields.html'%}
            <a href="{% url 'users:password_reset_form' %}" class="btn btn-link">
              Забыли пароль?
            </a>
          </form>
        </div> <!-- card body -->
      </div> <!-- card -->
{% endblock %}